body{
    background-color: #262626;
    /* overflow: hidden; */
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

td {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;        
    -moz-user-select: none;    
        user-select: none;
    cursor: pointer;
}

.noresize {
  resize: none; 
}

#songs tbody>tr:hover {
    background-color: #2ee; /* Add a hover effect to all links, except for headers */
}

#songs tbody>tr.active {
    background-color: #2ff; /* Add a hover effect to all links, except for headers */
}

/* #songs tr { display: block;} */
/* #songs th { width: 22.7vw; } */
#songs tbody td { width: 11.3vw; max-width: 11.3vw; }

#songs tbody { 
    display: block; 
    height: 35vh; 
    overflow-x: hidden !important;
    overflow-y: auto !important;
    width: 22.7vw;
}

.btn-mini{
    width: 35px;
}

.btn-x{
    line-height: 10px;
    padding: .375rem 7px;
}

#livesongs{
    margin-bottom: 0;
    border: none;
}


#livesongs td{
    border: none;
}

#livesongs tbody>tr:hover {
    background-color: #363636;
}

#livesongs tbody>tr.active {
    background-color: #5a647e;
    color: #dfbd68;
}

#livesongs tbody td { width: 23.6vw; max-width: 23.6vw; }

#livesongs tbody { 
    display: block; 
    width: 47.5vw;
}

a{
    outline: 0;
}

.nav-link {
    color: #767676;
}

.nav-link:hover {
    color: #FFFFFF;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #FFFFFF;
    background-color: #2e2e2e;
    border-color: transparent transparent transparent;
}

#tree_list1{
    height: 63vh;
    overflow-x: hidden !important;
    overflow-y: auto !important;    
}

.center-block-tabs{
    background-color: #2e2e2e;
    color: #6a98ba;   
}

#scrollblock{
    position: relative;
    height: 79vh; 
    /* overflow-x: hidden !important; */
    /* overflow-y: hidden !important;      */
}

.center-block-tabs label{
    color: #dfbd68;
}

.center-header-tabs{
    background-color: #1e1e1e;
}

/* Bible TAB style */
.bibleBooks{
    height: 50vh;
    overflow-x: hidden !important;
    overflow-y: auto !important; 
    cursor: pointer;     
    -moz-user-select: none;    
        user-select: none;      
}

.bibleBooks li{
    padding: 1px;
    text-align: center;    
}

.bibleBooks li:hover{
    background-color: #212121;
}

.bibleBooks li .active{
    background-color: #210021;
}

.bibleNum{
    height: 30vh;
    overflow-x: hidden !important;
    overflow-y: scroll; 
    cursor: pointer; 
    -moz-user-select: none;    
        user-select: none       
}

.bibleNum li{
    padding: 1px;
    text-align: center;   
}

.bibleNum li:hover{
    background-color: #212121;
}

.bibleNum li .active{
    background-color: #210021;
}

#preViewScripture{
    height: 15vh;
    overflow-x: hidden !important;
    overflow-y: scroll;    
}